* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.multicarousel {
  margin-top: 10px;
  padding: 3rem;
  color: #fff;
  width: 100%;
}

.titleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.title {
  color: var(--Light-Main-500, #1d45ef);
  font-family: Raleway;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  @media (max-width: 1200px) {
    font-size: 35px;
  }
  @media (max-width: 435px) {
    font-size: 20px;
  }
}
.slick-slide div {
  display: flex;
}

.slick-slide {
  padding: 0 10px;
  margin: 10px 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.custom-prev-arrow,
.custom-next-arrow {
  cursor: pointer;
  background: #d2dafc;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media (max-width: 435px) {
    width: 40px;
    height: 40px;
  }
}
.custom-prev-arrow:hover,
.custom-next-arrow:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Hide default slick arrows */
.slick-prev,
.slick-next {
  display: none !important;
}
